*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
.navbar{
  background-color:#333;
  padding: 0 20px;
}
.nav-list{
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
}
.nav-list a {
  display:block;
  color:white;
  text-align: center;
  padding:14px 20px;
  text-decoration: none;
}
.nav-list a:hover {
 background-color:#575757;
}
body{
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to right, lightblue,rgb(0, 213, 255), blue,red );
  }
  div{
    text-align: center;
    color:navy;
    
  }
  .oneFilm-card { 
  background-color:rgb(223, 161, 161);
  width:100%;
  padding: 15px; 
  margin: 10px 0; 
  border-radius: 10px; 
  border: 5px solid navy;
 }
 .oneFilm-card p{
  overflow-wrap: break-word;
  text-align: left;
 }
.onePerson-card { 
  background-color:rgb(208, 227, 125);
  width:400px;
  padding: 15px; 
  margin: 10px 0; 
  border-radius: 10px; 
  border: 5px solid navy;
  text-wrap:wrap;
  }
 .onePlanet-card { 
  background-color:rgb(237, 130, 48);
  width:500px;
  padding: 15px; 
  margin: 10px 0; 
  border-radius: 10px; 
  border: 5px solid navy;
  text-wrap:wrap;
  }  
.oneSpecies-card { 
  background-color:rgb(76, 241, 109);
  width:500px;
  padding: 15px; 
  margin: 10px 0; 
  border-radius: 10px; 
  border: 5px solid navy;
  text-wrap:wrap;
  }
.oneStarship-card { 
  background-color:rgb(31, 66, 196);
  width:500px;
  padding: 15px; 
  margin: 10px 0; 
  border-radius: 10px; 
  border: 5px solid navy;
  text-wrap:wrap;
  } 
.oneVehicle-card { 
  background-color:rgb(119, 69, 130);
  width:400px;
  padding: 15px; 
  margin: 10px 0; 
  border-radius: 10px; 
  border: 5px solid navy;
  text-wrap:wrap;
  }  
  

button {
  border-radius: 10px;
  margin:1rem;
  text-align: center;
  padding:1rem;
  color:white;
  background-color: navy;
}
input{
  margin-left:1rem;
  background-color:rgb(140, 230, 234);
  color:navy;
  padding:10px;
  border-radius: 5px;
  border:3px solid red;

}
h2{
  color:Navy;
  text-align:center;
  margin:1rem;
}