body{
  margin:0;
  padding:0;
}
.navbar{
  background-color:#333;
  padding: 0 20px;
}
.nav-list{
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
}
.nav-list a {
  display:block;
  color:white;
  text-align: center;
  padding:14px 20px;
  text-decoration: none;
}
.nav-list a:hover {
 background-color:#575757;
}

h1{
  text-align: center;
  padding: 10px;
}

.user-card { border: 1px solid #ccc; padding: 10px; margin: 10px 0; border-radius: 4px; }
.error { color: red; font-weight: bold; }


.films{
  padding:1%;
  background-color:darkslategray;
  color:white;
  font-size: larger;
  list-style-type: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.films p {
  font-size: smaller;
  font-family:Arial, Helvetica, sans-serif, Courier, monospace;
}

button {
  align-items: center;
  margin-left:25%;
  color:white;
  background-color: navy;
}
.people{
  background-color:lightblue; aquamarine;
}
#peopleContainer{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  margin:1%;
  padding:20px;
  border-radius: 10px;
  background-color: rgb(99, 173, 238);
  color:navy;
}
.P-h1{
  color:navy;
}